<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeopardy! Random</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="/static/script.js"></script>
</head>
<body>
    <div class="jeopardy-container">
        <div class="category">{{category}}</div>
        <div class="clue">{{clue}}</div>

        <div class="answer-form">
            <input type="text" class="answer-input" id="answer" name="answer" placeholder="What is?">
            <button class="submit-button" id="submit">Submit</button>
        </div>
        <div class="response">Correct Response: {{response}}
           <br><br> <button class="submit-button" id="next">Next</button>
        </div>
    </div>
</body>
</html>
